// @import 'classes/variables.scss';
@import 'classes/border.scss';
@import 'classes/height-width.scss';
@import 'classes/position.scss';

$primary: #727cf5;
$accent: #f8f8ff;

$app-bg-gradient: linear-gradient(135deg, #8f75da 0, #727cf5 60%);

.theme--light.v-application {
  background: $accent !important;
}

* {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($primary, 0.3);
    box-shadow: inset 0 0 6px rgba($primary, 0.3);
    background-color: $accent;
    border-radius: 3px;
  }
  ::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
    height: 6px;
    background-color: $accent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba($primary, 0.6);
    border-radius: 2px;
  }
}

.app-bg-gradient {
  background: $app-bg-gradient !important;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

// Flex: 1, auto; classes
@each $f in auto, 1, 0 {
  .flex-#{$f} {
    flex: $f !important;
  }
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}

// Oberflow classes
@each $os in 'x', 'y', 'a' {
  @each $ov in scroll, hidden, auto {
    @if $os == 'a' {
      .overflow-#{$ov} {
        overflow: $ov !important;
      }
    } @else {
      .overflow-#{$os}-#{$ov} {
        overflow-#{$os}: $ov !important;
      }
    }
  }
}

// Cursor classes
@each $c in pointer, default {
  .cursor-#{$c} {
    cursor: $c !important;
  }
}

// Position classes
@each $p in absolute, relative, fixed {
  .p-#{$p} {
    position: $p !important;
  }
}

.disabled {
  color: grey !important;
  pointer-events: none;
}

.hoverable {
  transition: all 0.15s ease-in-out;
  &:hover {
    background: #eee !important;
  }
}
/* app styles */
.no-decoration {
  text-decoration: none;
}
a.underline {
  text-decoration: none;
}
a.underline:hover {
  text-decoration: underline;
}

.big-shadow {
  box-shadow: 0 0 10px rgba(#7d7d7d, 0.5) !important;
}

.sticky-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.disabled {
  color: grey !important;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.no-select {
  pointer-events: none;
  user-select: none;
}
